.debug {
  border: 1px solid red;
}

body {
  background-color: whitesmoke;
  color: rgb(70, 70, 70);
  text-align: center;
  margin: 0px;
  font-family: "Open Sans";  
  font-weight: 300;
}

header {
  padding: 1px 15px 20px 15px;
}

.header-nav-container h1 {
  color: tomato;
  -webkit-text-stroke-color: crimson;
  -webkit-text-stroke-width: .01em;
  font-family: "Dancing Script";
  font-size: 3em;
}

main {
  padding: 1px 0px 20px 0px;
}

.main-nav {
  margin-bottom: 45px;
}

.main-nav li {
  margin-bottom: 5px;
  padding: 2px;
  text-transform: uppercase;  
  font-weight: bold;
}

.main-nav li a {
  border: 1px solid white;
  padding: 5px;
  background: white;
}

.main-nav li a:hover {
  border: 1px solid grey;
}

a {
  color: gray;
  display: block;
  text-decoration: none;
}

a:link, a:visited {
  color: grey;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.profile-photo {
  max-width: 70%;
}

.profile-text {
  color: gray;
  font-size: 1.1em;
}

main {
  background-color: white;
}

main > h4 {
  text-transform: uppercase;  
  padding-top: 20px;
}

figure {
  margin: 40px 20px;
}

figure > img {
  max-width: 100%;
}

.skills img {
  max-width: 20%;
}

figcaption > p {
  font-size: 1.2em;
}

footer {
  padding: 10px 15px;
}

.contact {
  padding: 30px 0px 40px 0px;
  border-bottom: 1px solid lightgray;
}

.contact > h4 {
  text-transform: uppercase;
}

.contact > p {
  color: gray;
  font-size: 1.1em;
}

.contact span {
  font-weight: bold;
  padding-left: 15px;
}

.contact-msg {
  padding: 15px 0px;
}

.footer-nav-container {
  padding: 20px 0px;
  font-weight: bold;
  font-size: .9em;
}

.footer-name li {
  float: left;
}

.footer-nav li {
  float: right;
  text-transform: uppercase;
}

.footer-nav-2 {
  display: none;
  text-transform: uppercase;
}

/* ---- Float clearfix ---- */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

  header {
    padding: 30px 15px 40px 15px;
  }

  .header-nav-container h1 {
    margin-top: 10px;    
  }

  .main-nav li {
    background-color: transparent;
    display: inline-block;
    width: 105px;
  }

  .profile-photo {
    float: right;
    padding: 10px;
  }

  .profile-text {
    text-align: left;
    padding: 10px;
  }

  main {
    padding-top: 20px;
  }

  figure {
    display: inline-block;
    vertical-align: top;
    max-width: 43%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .skills figure {
    max-width: 30%;
  }

  .contact-msg {
    display: inline-block;
    max-width: 480px;
  }

  footer {
    padding-bottom: 50px;
  }

  .footer-nav {
    display: none;
  }

  .footer-nav-2 {
    display: flex;
    float: right;
  }

  .footer-nav-2 li {
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {

  header,
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-nav-container h1 {
    float: left;
  }

  .main-nav {
    float: right;
    padding-top: 20px;
  }

  .profile-text {
    padding: 0;
    margin: 0;    
  }

  .profile-photo {
    padding: 0;
    padding-left: 50px;
  }

  main {
    margin: 0px 20px;
  }

  figure {
    max-width: 30%;
  }
}